[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Features
Comment=Manage Semplice's features
Name[it]=Funzionalità
Comment[it]=Gestisce le funzionalità di Semplice
Categories=System;Settings;
Keywords=Feature;Features;
Keywords[it]=Funzionalità
Exec=pkexec /usr/bin/bricks
Icon=preferences-desktop-default-applications
X-VeraCC-Section=System
